/* ===== GLOBAL ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}

/* ===== HERO SECTION ===== */
.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
        url('images/hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}




.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
}

/* ===== BUTTONS ===== */
.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.primary {
    background: #e74c3c;
    color: white;
}

.secondary {
    border: 2px solid white;
    color: white;
}

/* ===== NAV ===== */
nav {
    background: #16a085;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* ===== SECTIONS ===== */
section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

section h2 {
    margin-bottom: 10px;
}

/* ===== FOOTER ===== */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
